.idea
.vscode
.directory
.DS.Store

.envrc
.env
.env.*
!.env.dist
!.env.dist.*
!.env.*.dist
!.env.example
!.env.example.*
!.env.*.example
*.env
!*.dist.env
!*.example.env

target/
/app/config.yaml
/test-ledger
